*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

body{
    background-color: #F8F2EB;
}
body.no-scroll{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    /*mobile*/
    @media (min-width: 20rem) and (max-width: 40rem){
        font-size: 1rem;
        line-height: 1.4rem;
    }
    /*tablet*/
    @media (min-width: 40.1rem) and (max-width: 60rem){
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

h1{
    font-size: 3.5rem;
    line-height: 4rem;
    @media (min-width: 20rem) and (max-width: 40rem){
        font-size: 2rem;
        line-height: 2.5rem;
    }
    @media (min-width: 40.1rem) and (max-width: 60rem){
        font-size: 3rem;
        line-height: 4rem;
    }
}

h2{
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-weight: 200px;
    @media (min-width: 20rem) and (max-width: 40rem){
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    @media (min-width: 41rem) and (max-width: 60rem){
        font-size: 2.6rem;
    }
}

.off_screen_menu{
    background-color: #000;
    height: 100vh;
    width: 100%;
    min-width: 80rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    overflow-y: hidden;
    transform-origin: top right;
    scale:0;
    transition: 0.4s ease;
    img{
        width: 5.5rem;
        padding-bottom: 2.5rem;
        opacity: 0;
    }
    li{
        padding-top: 1.25rem;
    }
    a{
        color: #fff;
        font-size: 2.6rem;
        line-height: 3.6rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding-left: 7.5rem;
        opacity:0;
    }
    a:hover{
        text-decoration: underline;
        transition: 1s ease;
        transition-delay: .1s;
    }
}

.off_screen_menu.active{
    width: 100%;
    transform-origin: top right;
    scale: 100%;
    padding-top: 2.5rem;
    img, a{
        transition-delay: 1s;
        transition: 0.5s ease;
        transition-property: opacity;
        opacity: 100%;
        z-index: 1;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        padding-top: 0.5rem;
        li{
            padding-top: 1.5rem;
        }
        a{
            font-size: 1.8rem;
            line-height: 2rem;
            padding-left: 1rem;
        }
    }
}

nav{
    padding: 2.5rem;
    display: flex;
    width: 100%;
}
.a965_header_hammenu{
    height: 2.5rem;
    width: 2.5rem;
    margin-left: auto;
    position: relative;
}

.a965_header_hammenu span{
    height: 0.25rem;
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: #000;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.a965_header_hammenu span:nth-child(1){
    top: 25%;
}
.a965_header_hammenu span:nth-child(2){
    top: 75%;
}

.a965_header_hammenu.active span{
    background-color: #F8F2EB;
}
.a965_header_hammenu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.a965_header_hammenu.active span:nth-child(2){
    opacity: 0;
}
.a965_header_hammenu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}


.a965_hero{
    overflow-x: hidden;
    background-color: #F8F2EB;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &_content{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 78vw;
        img{
            width: 7rem;
        }
    }
    /*mobile*/
    @media (min-width: 20rem) and (max-width: 40rem){
        width: 100vw;
        &_content{
            width: 80vw;
        }
    }
    /*tablet*/
    @media (min-width: 40rem) and (max-width: 60rem){
        &_content{
            width: 80vw;
        }
    }
    
}
.a965_festivals1{
    width: 100%;
    height: 45rem;
    background-image: url('../images/home/festivals.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    div{
        position: relative;
        z-index:2;
        color: white;
        display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: space-between; 
        padding-top: 45rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 5rem;
    }
    a{
        font-size: 21px;
        font-weight: 400;
        text-decoration: underline;
        color: #fff;
        
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        div{
            flex-direction: column;
            align-items: flex-start;
            padding-top: 30rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 5rem;
        }
        a{
            font-size: 1rem;
            padding-top: 1rem;
        }
    }
    @media (min-width: 41rem) and (max-width: 60rem){
        div{
            padding-bottom: 8rem;
        }
    }
}

.a965_festivals2{
    width: 100%;
    height: 45rem;
    background-image: url('../images/home/Brands\ Collab.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    div{
        position: relative;
        z-index:2;
        color: white;
        display: flex;
        flex-direction: row;
        align-items:flex-end; 
        justify-content: space-between;
        padding-top: 33rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    a{
        font-size: 21px;
        font-weight: 400;
        text-decoration: underline;
        color: #fff;
        
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        div{
            flex-direction: column;
            align-items: flex-start;
            padding-top: 30rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 5rem;
        }
        a{
            font-size: 1rem;
            padding-top: 1rem;
        }
    }
    @media (min-width: 41rem) and (max-width: 60rem){
        div{
            padding-bottom: 8rem;
        }
    }
}

.a965_frame1 {
    background-color: #305966;
    display: flex;
    width: 100vw;
    height: 60rem;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem;
    img{
        width: 18rem;
    }

    a{
        font-size: 36px;
        font-weight: 400;
        line-height: 58px;
        color: #fff;
    }

    &_content{
        width: 100%;
        height: 40rem;
        &_left{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2.5rem;
        }
        &_right{
            display: flex;
            justify-content: flex-end;
            margin-right: 12.5rem;
        }
        &_text{
            padding-bottom: 3rem;
        }
        &_left_text{
            padding: 2.5rem;
            margin-left: -7.5rem;
        }
        &_right_text{
            padding: 2.5rem;
            margin-left: -7.5rem;
        }
    }
    &.hover{
        background-color: #ECB572;
        transition: background-color 0.3s ease;
        &_left_text{
            padding: 60px;
            transition: padding 0.3s ease;
        }
    }
    &.hover2{
        background-color: #71335B;
        transition: background-color 0.3s ease;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        padding: 2rem;
        height: 40rem;
        img{
            width: 10rem;
            object-fit: cover;
        }
        a{
          font-size: 1rem;
          line-height: 1.75rem;
        }
        &_content{
            gap: 5rem;
            height: auto;
            &_left{
                margin-top: 0;
                margin-bottom: 2.5rem;
            }
            &_right{
                margin-right: 0rem;
                margin-left: 3rem;
                justify-content: flex-end;
            }
            &_left_text{
                padding-top: 1rem;
                margin-left: -4rem;
            }
            &_right_text{
                padding-top: 1rem;
                margin-left: -4rem;
            }

        }
    @media (min-width: 40rem) and (max-width: 60rem){
        }
    }
}

.a965_frame2 {
    background-color: #ECB572;
    display: flex;
    width: 100vw;
    height: 60rem;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem;
    img{
        width: 18rem;
    }

    a{
        font-size: 36px;
        font-weight: 400;
        line-height: 58px;
        color: #fff;
    }

    &_content{
        width: 100%;
        height: 40rem;
        &_left{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2.5rem;
        }
        &_right{
            display: flex;
            justify-content: flex-end;
            margin-right: 12.5rem;
        }
        &_text{
            padding-bottom: 3rem;
        }
        &_left_text{
            padding: 2.5rem;
            margin-left: -7.5rem;
            padding-left: 0;
            padding-right: 0;
        }
        &_right_text{
            padding: 2.5rem;
            margin-left: -7.5rem;
            padding-left: 0;
            padding-right: 0;
        }
        
    }
    &.hover{
        background-color:#B73E31;
        transition: background-color 0.3s ease;
        &_left_text{
            padding: 60px;
            transition: padding 0.3s ease;
        }
    }
    &.hover2{
        background-color: #151515;
        transition: background-color 0.3s ease;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        padding: 2rem;
        height: 40rem;
        img{
            width: 10rem;
            object-fit: cover;
        }
        a{
          font-size: 1rem;
          line-height: 1.75rem;
        }
        &_content{
            gap: 2rem;
            height: auto;
            &_left{
                margin-top: 0;
                margin-bottom: 2.5rem;
            }
            &_right{
                padding: 0;
                margin-right: 0rem;
                margin-left: 3rem;
                justify-content: flex-end;
            }
            &_left_text{
                padding-top: 1rem;
                margin-left: -4rem;
            }
            &_right_text{
                padding-top: 1rem;
                padding-left: 0;
                padding-right: 0;
                margin-left: -4rem;
            }

        }
    @media (min-width: 40rem) and (max-width: 60rem){
        }
    }
}

.a965_icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    img{
        width: 20rem;
    }

    @media (min-width: 20rem) and (max-width: 40rem){
        flex-direction: column;
        margin: 0 auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
        }
        img{
            width: 16rem;
            padding-top: 2rem;
        }

    @media (min-width: 41rem) and (max-width: 60rem){
        }
}

.a965_footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
    color: #fff;
    padding: 5rem;
    height: auto;
    &_logo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    img{
        width: 5rem;
        height: 5rem;
    }
    ul, p{
        font-size: 1rem;
        line-height: 2rem;
        width: auto;
    }
    &_g{
        display: flex;
        gap: 4rem;
        &_column1{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }
    }
    &_column2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    a{
        color: white;
        font-size: 1rem;
        font-weight: 400;
    }
    a:hover{
        text-decoration: underline;
        transition: 0.5 ease;
    }
    /*tablet*/
    @media (min-width: 41rem) and (max-width: 60rem){
        padding: 2rem;
        gap: 3rem;
        }
    /*mobile*/
    @media (min-width: 20rem) and (max-width: 40rem){
        flex-direction: column;
        padding: 2rem;
        gap: 3rem;
        }
        &_g{
            flex-direction: row;
            &_column1{
            gap: 1.5rem;
            }
        }
        &_column2{
            gap: 3rem;
            p, ul{
                line-height: 1.3rem;
            }
        }

}