*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

body{
    background-color: #F8F2EB;
}
body.no-scroll{
    overflow: hidden;
    height: 100%;
}

p{
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.8358974358974359rem + 0.2735042735042735vw, 1rem);
    line-height: 1.5rem;
}

h1{
    font-size: 2rem;
    font-size: clamp(2rem, 1.1987179487179487rem + 3.418803418803419vw, 3.25rem);
    line-height: 4rem;
}

h2{
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 0.3846153846153846rem + 3.6923076923076925vw, 2.6rem);
    line-height: 58px;
    font-weight: 200px;
}

.off_screen_menu{
    background-color: #000;
    height: 100vh;
    width: 100%;
    min-width: 80rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    overflow-y: hidden;
    transform-origin: top right;
    scale:0;
    transition: 0.4s ease;
    img{
        width: 5.5rem;
        padding-bottom: 2.5rem;
        opacity: 0;
    }
    li{
        padding-top: 1.25rem;
    }
    a{
        color: #fff;
        font-size: 2.6rem;
        line-height: 3.6rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding-left: 7.5rem;
        opacity:0;
    }
    a:hover{
        text-decoration: underline;
        transition: 1s ease;
        transition-delay: .1s;
    }
}

.off_screen_menu.active{
    transform-origin: top right;
    scale: 100%;
    img, a{
        transition-delay: 1s;
        transition: 0.5s ease;
        transition-property: opacity;
        opacity: 100%;
        z-index: 1;
    }

}

nav{
    padding-top: 40px;
    padding-right: 40px;
    display: flex;
}
.a965_header_hammenu{
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
}

.a965_header_hammenu span{
    height: 4px;
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: #000;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.a965_header_hammenu span:nth-child(1){
    top: 25%;
}
.a965_header_hammenu span:nth-child(2){
    top: 75%;
}

.a965_header_hammenu.active span{
    background-color: #F8F2EB;
}
.a965_header_hammenu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.a965_header_hammenu.active span:nth-child(2){
    opacity: 0;
}
.a965_header_hammenu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}


.a965_hero{
    overflow-x: hidden;
    background-color: #F8F2EB;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &_content{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 60vw;
        img{
            width: 7rem;
        }
    }
}
.a965_festivals1{
    width: 100%;
    background-image: url('../images/home/festivals.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    div{
        position: relative;
        z-index:2;
        color: white;
        display: flex;
        flex-direction: row;
        align-items:flex-end; 
        justify-content: space-between;
        padding-top: 33rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    a{
        font-size: 21px;
        font-weight: 400;
        text-decoration: underline;
        color: #fff;
        
    }
    @media (width >=40rem){

    }
    @media (width >=60rem){
        height: 100vh;
    }
}

.a965_festivals2{
    width: 100%;
    background-image: url('../images/home/Brands\ Collab.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    div{
        position: relative;
        z-index:2;
        color: white;
        display: flex;
        flex-direction: row;
        align-items:flex-end; 
        justify-content: space-between;
        padding-top: 33rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    a{
        font-size: 21px;
        font-weight: 400;
        text-decoration: underline;
        color: #fff;
        
    }
    @media (width >=40rem){

    }
    @media (width >=60rem){
        height: 100vh;
    }
}

.a965_frame1 {
    background-color: #305966;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem;
    img{
        width: 18rem;
    }

    a{
        font-size: 36px;
        font-weight: 400;
        line-height: 58px;
        color: #fff;
    }

    &_content{
        width: 100%;
        &_left{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2.5rem;
        }
        &_right{
            display: flex;
            justify-content: flex-end;
            margin-right: 12.5rem;
        }
        &_text{
            padding-bottom: 3rem;
        }
        &_left_text{
            padding: 2.5rem;
            margin-left: -7.5rem;
        }
        &_right_text{
            padding: 2.5rem;
            margin-left: -7.5rem;
        }
    }
    &.hover{
        background-color: #ECB572;
        transition: background-color 0.3s ease;
        &_left_text{
            padding: 60px;
            transition: padding 0.3s ease;
        }
    }
    &.hover2{
        background-color: #71335B;
        transition: background-color 0.3s ease;
    }

    /*tablet*/
    @media (width >=40rem){

    }
    @media (width >=60rem){

    }
}

.a965_frame2 {
    background-color: #ECB572;
    display: flex;
    width: 100vw;
    height: 1000px;
    align-items: center;
    justify-content: flex-start;
    padding: 80px;
    
    img{
        width: 300px;
    }

    a{
        font-size: 36px;
        font-weight: 400;
        line-height: 58px;
        color: #fff;
    }

    &_content{
        padding-top: 80px;
        width: 100%;
        &_left{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 40px;
        }
        &_right{
            display: flex;
            justify-content: flex-end;
            margin-right: 200px;
        }
        &_text{
            padding-bottom: 60px;
        }
        &_left_text{
            padding: 40px;
            margin-left: -120px;
        }
        &_right_text{
            padding: 40px;
            margin-left: -120px;
        }
    }
    &.hover{
        background-color: #B73E31;
        transition: background-color 0.3s ease;
        &_left_text{
            padding: 60px;
            transition: padding 0.3s ease;
        }
    }
    &.hover2{
        background-color: #000;
        transition: background-color 0.3s ease;
    }
}

.a965_icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    margin: 0 auto;

    img{
        width: 280px;
    }
}

.a965_footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
    color: #fff;
    padding: 80px;
    height: 340px;
    &_logo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    img{
        width: 80px;
        height: 80px;
    }
    ul, p{
        font-size: 16px;
        line-height: 32px;
    }
    &_column1{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }
    &_column2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    a{
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
}