*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

.a965_header_scroll{
    background-color: #F8F2EB;
    padding: 40px 80px 40px 80px;
    &_content{
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    display: flex;
    text-align: right;
    }
}

.a965_ourfam_hero{
    width: 100%;
    display: flex;
    padding: 6rem 5rem 6rem 5rem;
    h1{
        font-size: 52px;
        line-height: 64px;
        font-weight: 400;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        padding: 4rem 2rem 4rem 2rem;
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    }
}

.a965_festivals_imgfam{
    width: 100%;
    height: 45rem;
    background-image: url('../images/our\ fam/Our Fam Hero Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: 20rem) and (max-width: 40rem){
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    }
}

.a965_aboutus{
    width: 100%;
    display: flex;
    padding: 6rem 5rem 6rem 5rem;
    justify-content: space-between;
    h4{
        font-size: 1.5re,;
        line-height: 5rem;
    }
    p{
        width: 40rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        padding: 4rem 2rem 6rem 2rem;
        flex-direction: column;
        p{
            width: 100%;
        }
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    }   
}

.a965_2img{
    width: 100%;
    display: flex;
    padding: 7.5rem 5rem 7.5rem 5rem;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    gap: 10vh;
    p{
    width: 42vw;
    font-size: 1.5rem;
    line-height: 2rem;
    }
    &_content{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    div{
        width: 100%;
        justify-content: flex-end;
    }
    img{
        width: 25rem;
        margin-left: 1.5rem;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        height: auto;
        padding: 4rem 2rem 4rem 2rem;
        p{
            width: 68vw;
        }
        img{
            width: 10rem;
        }

    }
    @media (min-width: 41rem) and (max-width: 60rem){
        &_content{
            padding: 3rem;
            flex-direction: column;
            justify-content: flex-end;
            align-items:flex-start;
        }
    } 

}

.a965_festlogo{
    position: relative;
    width: 100%;
    height: 45rem;
    &_bg{
        position: absolute;
        width: 100%;
        height: 45rem;
        object-fit: cover;
        z-index:1;
    }
    &_content{
        position: relative;
        height: 45rem;
        display: flex;
        z-index:2;
        color: #fff;
        padding: 5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-end;
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 200;
        a{
        font-size: 21px;
        font-weight: 400;
        text-decoration: underline;
        color: #fff; 
        }
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        height: auto;
        &_content{
            padding: 2rem;
            flex-direction: column;
            justify-content: flex-end;
            align-items:flex-start;
        }

    }
    @media (min-width: 41rem) and (max-width: 60rem){
        &_content{
            padding: 3rem;
            flex-direction: column;
            justify-content: flex-end;
            align-items:flex-start;
        }
    } 
}