/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

body {
  color: #000;
  background-color: #fff;
  font-family: "DM Sans", Arial;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

body {
  background-color: #F8F2EB;
}

body.no-scroll {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  /*mobile*/
  /*tablet*/
}
@media (min-width: 20rem) and (max-width: 40rem) {
  p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 40.1rem) and (max-width: 60rem) {
  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 40.1rem) and (max-width: 60rem) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 200px;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  h2 {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}
@media (min-width: 41rem) and (max-width: 60rem) {
  h2 {
    font-size: 2.6rem;
  }
}

.off_screen_menu {
  background-color: #000;
  height: 100vh;
  width: 100%;
  min-width: 80rem;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  overflow-y: hidden;
  transform-origin: top right;
  scale: 0;
  transition: 0.4s ease;
}
.off_screen_menu img {
  width: 5.5rem;
  padding-bottom: 2.5rem;
  opacity: 0;
}
.off_screen_menu li {
  padding-top: 1.25rem;
}
.off_screen_menu a {
  color: #fff;
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-left: 7.5rem;
  opacity: 0;
}
.off_screen_menu a:hover {
  text-decoration: underline;
  transition: 1s ease;
  transition-delay: 0.1s;
}

.off_screen_menu.active {
  width: 100%;
  transform-origin: top right;
  scale: 100%;
  padding-top: 2.5rem;
}
.off_screen_menu.active img, .off_screen_menu.active a {
  transition-delay: 1s;
  transition: 0.5s ease;
  transition-property: opacity;
  opacity: 100%;
  z-index: 1;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .off_screen_menu.active {
    padding-top: 0.5rem;
  }
  .off_screen_menu.active li {
    padding-top: 1.5rem;
  }
  .off_screen_menu.active a {
    font-size: 1.8rem;
    line-height: 2rem;
    padding-left: 1rem;
  }
}

nav {
  padding: 2.5rem;
  display: flex;
  width: 100%;
}

.a965_header_hammenu {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: auto;
  position: relative;
}

.a965_header_hammenu span {
  height: 0.25rem;
  width: 100%;
  top: 50%;
  left: 50%;
  background-color: #000;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.a965_header_hammenu span:nth-child(1) {
  top: 25%;
}

.a965_header_hammenu span:nth-child(2) {
  top: 75%;
}

.a965_header_hammenu.active span {
  background-color: #F8F2EB;
}

.a965_header_hammenu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.a965_header_hammenu.active span:nth-child(2) {
  opacity: 0;
}

.a965_header_hammenu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.a965_hero {
  overflow-x: hidden;
  background-color: #F8F2EB;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*mobile*/
  /*tablet*/
}
.a965_hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 78vw;
}
.a965_hero_content img {
  width: 7rem;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_hero {
    width: 100vw;
  }
  .a965_hero_content {
    width: 80vw;
  }
}
@media (min-width: 40rem) and (max-width: 60rem) {
  .a965_hero_content {
    width: 80vw;
  }
}

.a965_festivals1 {
  width: 100%;
  height: 45rem;
  background-size: cover;
  background-image: url("../images/home/festivals-new.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.a965_festivals1 div {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 45rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
.a965_festivals1 h2 {
  color: #fff;
}
.a965_festivals1 a {
  font-size: 21px;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_festivals1 div {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
  }
  .a965_festivals1 a {
    font-size: 1rem;
    padding-top: 1rem;
  }
}
@media (min-width: 41rem) and (max-width: 60rem) {
  .a965_festivals1 div {
    padding-bottom: 8rem;
  }
}

.a965_festivals2 {
  width: 100%;
  height: 45rem;
  background-image: url("../images/home/Brands Collab.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}
.a965_festivals2 div {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 33rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.a965_festivals2 a {
  font-size: 21px;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_festivals2 div {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
  }
  .a965_festivals2 a {
    font-size: 1rem;
    padding-top: 1rem;
  }
}
@media (min-width: 41rem) and (max-width: 60rem) {
  .a965_festivals2 div {
    padding-bottom: 8rem;
  }
}

.a965_frame1 {
  background-color: #305966;
  display: flex;
  width: 100vw;
  height: 60rem;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem;
}
.a965_frame1 img {
  width: 18rem;
}
.a965_frame1 a {
  font-size: 36px;
  font-weight: 400;
  line-height: 58px;
  color: #fff;
}
.a965_frame1_content {
  width: 100%;
  height: 40rem;
}
.a965_frame1_content_left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
}
.a965_frame1_content_right {
  display: flex;
  justify-content: flex-end;
  margin-right: 12.5rem;
}
.a965_frame1_content_text {
  padding-bottom: 3rem;
}
.a965_frame1_content_left_text {
  padding: 2.5rem;
  margin-left: -7.5rem;
}
.a965_frame1_content_right_text {
  padding: 2.5rem;
  margin-left: -7.5rem;
}
.a965_frame1.hover {
  background-color: #ECB572;
  transition: background-color 0.3s ease;
}
.a965_frame1.hover_left_text {
  padding: 60px;
  transition: padding 0.3s ease;
}
.a965_frame1.hover2 {
  background-color: #71335B;
  transition: background-color 0.3s ease;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_frame1 {
    padding: 2rem;
    height: 40rem;
  }
  .a965_frame1 img {
    width: 10rem;
    object-fit: cover;
  }
  .a965_frame1 a {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .a965_frame1_content {
    gap: 5rem;
    height: auto;
  }
  .a965_frame1_content_left {
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
  .a965_frame1_content_right {
    margin-right: 0rem;
    margin-left: 3rem;
    justify-content: flex-end;
  }
  .a965_frame1_content_left_text {
    padding-top: 1rem;
    margin-left: -4rem;
  }
  .a965_frame1_content_right_text {
    padding-top: 1rem;
    margin-left: -4rem;
  }
}
.a965_frame2 {
  background-color: #ECB572;
  display: flex;
  width: 100vw;
  height: 60rem;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem;
}
.a965_frame2 img {
  width: 18rem;
}
.a965_frame2 a {
  font-size: 36px;
  font-weight: 400;
  line-height: 58px;
  color: #fff;
}
.a965_frame2_content {
  width: 100%;
  height: 40rem;
}
.a965_frame2_content_left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
}
.a965_frame2_content_right {
  display: flex;
  justify-content: flex-end;
  margin-right: 12.5rem;
}
.a965_frame2_content_text {
  padding-bottom: 3rem;
}
.a965_frame2_content_left_text {
  padding: 2.5rem;
  margin-left: -7.5rem;
  padding-left: 0;
  padding-right: 0;
}
.a965_frame2_content_right_text {
  padding: 2.5rem;
  margin-left: -7.5rem;
  padding-left: 0;
  padding-right: 0;
}
.a965_frame2.hover {
  background-color: #B73E31;
  transition: background-color 0.3s ease;
}
.a965_frame2.hover_left_text {
  padding: 60px;
  transition: padding 0.3s ease;
}
.a965_frame2.hover2 {
  background-color: #151515;
  transition: background-color 0.3s ease;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_frame2 {
    padding: 2rem;
    height: 40rem;
  }
  .a965_frame2 img {
    width: 10rem;
    object-fit: cover;
  }
  .a965_frame2 a {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .a965_frame2_content {
    gap: 2rem;
    height: auto;
  }
  .a965_frame2_content_left {
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
  .a965_frame2_content_right {
    padding: 0;
    margin-right: 0rem;
    margin-left: 3rem;
    justify-content: flex-end;
  }
  .a965_frame2_content_left_text {
    padding-top: 1rem;
    margin-left: -4rem;
  }
  .a965_frame2_content_right_text {
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: -4rem;
  }
}
.a965_icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.a965_icons img {
  width: 20rem;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_icons {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.a965_icons img {
  width: 16rem;
  padding-top: 2rem;
}
.a965_footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #000;
  color: #fff;
  padding: 5rem;
  height: auto;
  /*tablet*/
  /*mobile*/
}
.a965_footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.a965_footer img {
  width: 5rem;
  height: 5rem;
}
.a965_footer ul, .a965_footer p {
  font-size: 1rem;
  line-height: 2rem;
  width: auto;
}
.a965_footer_g {
  display: flex;
  gap: 4rem;
}
.a965_footer_g_column1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.a965_footer_column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.a965_footer a {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.a965_footer a:hover {
  text-decoration: underline;
  transition: 0.5 ease;
}
@media (min-width: 41rem) and (max-width: 60rem) {
  .a965_footer {
    padding: 2rem;
    gap: 3rem;
  }
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_footer {
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
  }
}
.a965_footer_g {
  flex-direction: row;
}
.a965_footer_g_column1 {
  gap: 1.5rem;
}
.a965_footer_column2 {
  gap: 3rem;
}
.a965_footer_column2 p, .a965_footer_column2 ul {
  line-height: 1.3rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

.a965_header {
  background-color: #F8F2EB;
  width: 100%;
}
.a965_header nav {
  align-items: center;
}
.a965_header nav img {
  margin-left: 2.5rem;
}

.a965_single_hero {
  width: 100%;
  padding: 6rem 5rem 5rem 5rem;
  /*tablet*/
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_single_hero {
    padding: 6rem 5rem 3rem 3rem;
  }
}
h1 {
  font-weight: 400;
}

.a965_festivals_img {
  width: 100%;
  height: 45rem;
  background-image: url("../images/festivals/Festivals Hero Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_festivals_img {
    background-image: url("../images/festivals/Festivals Hero Image Mobile.png");
  }
}
.a965_word {
  width: 100%;
  background-color: #F8F2EB;
  padding: 12rem 5rem 12rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.a965_word_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.a965_word_content h4 {
  font-size: 1.8rem;
}
.a965_word_content p {
  width: 48rem;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 400;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_word {
    display: flex;
    justify-content: flex-start;
    padding: 6rem 2rem 6rem 2rem;
    flex-direction: column;
  }
  .a965_word h4 {
    padding-bottom: 1.2rem;
  }
  .a965_word p {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
  }
  .a965_word_content {
    flex-direction: column;
    gap: 5rem;
  }
  .a965_word_content p {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2.3rem;
    font-weight: 300;
  }
}
/*Festival List Style - Blue*/
.a965_list {
  width: 100%;
  height: 100%;
  background-color: #305966;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 6rem;
  padding-bottom: 12rem;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_list {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
/*styling for white list*/
.a965_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border-bottom: 0.2rem solid #fff;
  opacity: 0.3;
}
.a965_row a {
  color: #fff;
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 400;
}
.a965_row .popupimg {
  position: absolute;
  display: flex;
  width: 25vh;
  z-index: 2;
  pointer-events: none;
  right: 20vw;
  opacity: 0;
}
.a965_row.hover {
  opacity: 1;
  transition: 0.5s ease;
}
.a965_row.hover .popupimg {
  opacity: 1;
  transition: ease;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_row {
    padding: 0.8rem;
    opacity: 1;
  }
  .a965_row a {
    font-size: 1.5rem;
  }
  .a965_row .popupimg {
    opacity: 1;
    width: 10vh;
    opacity: 0;
  }
}
/*styling for black list*/
.a965_rowb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border-bottom: 0.2rem solid #000;
  opacity: 0.3;
}
.a965_rowb a {
  color: #000;
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 400;
}
.a965_rowb .popupimg_b {
  position: absolute;
  display: flex;
  width: 25vh;
  z-index: 2;
  pointer-events: none;
  right: 20vw;
  opacity: 0;
}
.a965_rowb.hover {
  opacity: 1;
  transition: 0.5s ease;
}
.a965_rowb.hover .popupimg_b {
  opacity: 1;
  transition: ease;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_rowb {
    padding: 0.8rem;
    opacity: 1;
  }
  .a965_rowb a {
    font-size: 1.5rem;
  }
  .a965_rowb .popupimg {
    opacity: 1;
    width: 10vh;
    opacity: 0;
  }
}
/*style for community page*/
.a965_festivals_imgcom {
  width: 100%;
  height: 45rem;
  background-image: url("../images/community/Community Hero Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.a965_listcom {
  width: 100%;
  height: 100%;
  background-color: #ECB572;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_listcom {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
/*style for artist-spotlight page*/
.a965_festivals_imgart {
  width: 100%;
  height: 45rem;
  background-image: url("../images/artist-spotlight/Artist Spotlight Hero Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.a965_listart {
  width: 100%;
  height: 100%;
  background-color: #71335B;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_listart {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
/*style for brand-collab page*/
.a965_festivals_imgbrand {
  width: 100%;
  height: 45rem;
  background-image: url("../images/brands-collab/Brands Collab Hero Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.a965_listbrand {
  width: 100%;
  height: 100%;
  background-color: #3E2C26;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_listbrand {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
/*style for sports page*/
.a965_festivals_imgsports {
  width: 100%;
  height: 45rem;
  background-image: url("../images/sports/Sports Hero Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.a965_listsports {
  width: 100%;
  height: 100%;
  background-color: #B73E31;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_listsports {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
/*style for news page*/
.a965_festivals_imgnews {
  width: 100%;
  height: 45rem;
  background-image: url("../images/news/News Hero Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

.a965_header_scroll {
  background-color: #F8F2EB;
  padding: 40px 80px 40px 80px;
}
.a965_header_scroll_content {
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  display: flex;
  text-align: right;
}

.a965_ourfam_hero {
  width: 100%;
  display: flex;
  padding: 6rem 5rem 6rem 5rem;
}
.a965_ourfam_hero h1 {
  font-size: 52px;
  line-height: 64px;
  font-weight: 400;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_ourfam_hero {
    padding: 4rem 2rem 4rem 2rem;
  }
}
.a965_festivals_imgfam {
  width: 100%;
  height: 45rem;
  background-image: url("../images/our fam/Our Fam Hero Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.a965_aboutus {
  width: 100%;
  display: flex;
  padding: 6rem 5rem 6rem 5rem;
  justify-content: space-between;
}
.a965_aboutus h4 {
  font-size: 1.5re;
  line-height: 5rem;
}
.a965_aboutus p {
  width: 40rem;
  font-size: 2rem;
  line-height: 2.5rem;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_aboutus {
    padding: 4rem 2rem 6rem 2rem;
    flex-direction: column;
  }
  .a965_aboutus p {
    width: 100%;
  }
}
.a965_2img {
  width: 100%;
  display: flex;
  padding: 7.5rem 5rem 7.5rem 5rem;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: 10vh;
}
.a965_2img p {
  width: 42vw;
  font-size: 1.5rem;
  line-height: 2rem;
}
.a965_2img_content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.a965_2img div {
  width: 100%;
  justify-content: flex-end;
}
.a965_2img img {
  width: 25rem;
  margin-left: 1.5rem;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_2img {
    height: auto;
    padding: 4rem 2rem 4rem 2rem;
  }
  .a965_2img p {
    width: 68vw;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .a965_2img img {
    width: 10rem;
  }
}
@media (min-width: 41rem) and (max-width: 60rem) {
  .a965_2img_content {
    padding: 3rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.a965_festlogo {
  position: relative;
  width: 100%;
  height: 45rem;
}
.a965_festlogo_bg {
  position: absolute;
  width: 100%;
  height: 45rem;
  object-fit: cover;
  z-index: 1;
}
.a965_festlogo_content {
  position: relative;
  height: 45rem;
  display: flex;
  z-index: 2;
  color: #fff;
  padding: 5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 200;
}
.a965_festlogo_content a {
  font-size: 21px;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_festlogo {
    height: auto;
  }
  .a965_festlogo_content {
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
@media (min-width: 41rem) and (max-width: 60rem) {
  .a965_festlogo_content {
    padding: 3rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.a965_artist {
  width: 100%;
  display: flex;
  padding: 100px 80px 100px 80px;
  justify-content: space-between;
}
.a965_artist h4 {
  font-size: 24px;
  line-height: 40px;
}
.a965_artist p {
  width: 640px;
  font-size: 32px;
  line-height: 42px;
}

.a965_listred {
  width: 100%;
  height: 100%;
  background-color: #B73E31;
  padding-right: 180px;
  padding-left: 180px;
  padding-top: 100px;
  padding-bottom: 200px;
}
.a965_listred_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: 2px solid #fff;
}
.a965_listred h5 {
  color: #fff;
  font-size: 42px;
  line-height: 58px;
  font-weight: 400;
}

.a965_brand_index {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F8F2EB;
  padding-top: 5vh;
}
.a965_brand_index_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10vh;
}
.a965_brand_index_text {
  padding-left: 3vw;
}
.a965_brand_index h2 {
  font-size: 2rem;
  padding-bottom: 1.8vh;
  line-height: 2.5rem;
  width: 30vw;
  font-weight: 300;
}
.a965_brand_index img {
  width: 20vw;
}
.a965_brand_index button {
  background-color: #000;
  padding: 1rem 3rem 1rem 3rem;
  color: #fff;
}

.a965_load {
  padding-top: 4vh;
  padding-bottom: 10vh;
}
.a965_load a {
  text-decoration: underline;
  font-size: 1.3rem;
  font-weight: 300;
}

*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

.a965_gallery_top {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}
.a965_gallery_top img {
  width: 20vw;
  padding: 2vw;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_gallery_top {
    padding-top: 10vh;
    width: 100%;
    flex-wrap: wrap;
  }
  .a965_gallery_top img {
    width: 10rem;
  }
}
.a965_gallery_bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 20vh;
}
.a965_gallery_bottom img {
  width: 20vw;
  padding: 2vw;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_gallery_bottom {
    padding-bottom: 5vh;
    width: 100%;
    flex-wrap: wrap;
  }
  .a965_gallery_bottom img {
    width: 10rem;
  }
}
.a965_2img h2 {
  font-size: 2.6rem;
  padding-bottom: 2vh;
}

.a965_article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.a965_article a {
  font-size: 1.5rem;
  font-weight: 200;
  text-decoration: underline;
}
.a965_article div {
  width: 2rem;
  height: 2px;
  background-color: #000;
}

*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

.a965_news {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5rem;
}
.a965_news ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #000;
}
.a965_news ul li {
  padding-right: 1.5rem;
}
.a965_news ul a {
  font-weight: 400;
}
.a965_news_list {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #000;
}
.a965_news_list_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.a965_news_list_content h3 {
  font-size: 1.5rem;
  width: 21rem;
  line-height: 2rem;
  font-weight: 300;
}
.a965_news_list_content img {
  width: 12rem;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_news {
    padding: 1.5rem;
  }
  .a965_news p {
    font-size: 1rem;
  }
  .a965_news ul li {
    padding-right: 1.5rem;
  }
  .a965_news_list {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .a965_news_list_content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .a965_news_list_content h3 {
    width: 18rem;
  }
}

/*# sourceMappingURL=style.css.map */
