/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

body {
  color: #000;
  background-color: #fff;
  font-family: "DM Sans", Arial;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

body {
  background-color: #F8F2EB;
}

body.no-scroll {
  overflow: hidden;
  height: 100%;
}

p {
  font-size: 0.9rem;
  font-size: clamp(0.9rem, 0.8358974359rem + 0.2735042735vw, 1rem);
  line-height: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.1987179487rem + 3.4188034188vw, 3.25rem);
  line-height: 4rem;
}

h2 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 0.3846153846rem + 3.6923076923vw, 2.6rem);
  line-height: 58px;
  font-weight: 200px;
}

.off_screen_menu {
  background-color: #000;
  height: 100vh;
  width: 100%;
  min-width: 80rem;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  overflow-y: hidden;
  transform-origin: top right;
  scale: 0;
  transition: 0.4s ease;
}
.off_screen_menu img {
  width: 5.5rem;
  padding-bottom: 2.5rem;
  opacity: 0;
}
.off_screen_menu li {
  padding-top: 1.25rem;
}
.off_screen_menu a {
  color: #fff;
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-left: 7.5rem;
  opacity: 0;
}
.off_screen_menu a:hover {
  text-decoration: underline;
  transition: 1s ease;
  transition-delay: 0.1s;
}

.off_screen_menu.active {
  transform-origin: top right;
  scale: 100%;
}
.off_screen_menu.active img, .off_screen_menu.active a {
  transition-delay: 1s;
  transition: 0.5s ease;
  transition-property: opacity;
  opacity: 100%;
  z-index: 1;
}

nav {
  padding-top: 40px;
  padding-right: 40px;
  display: flex;
}

.a965_header_hammenu {
  height: 40px;
  width: 40px;
  margin-left: auto;
  position: relative;
}

.a965_header_hammenu span {
  height: 4px;
  width: 100%;
  top: 50%;
  left: 50%;
  background-color: #000;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.a965_header_hammenu span:nth-child(1) {
  top: 25%;
}

.a965_header_hammenu span:nth-child(2) {
  top: 75%;
}

.a965_header_hammenu.active span {
  background-color: #F8F2EB;
}

.a965_header_hammenu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.a965_header_hammenu.active span:nth-child(2) {
  opacity: 0;
}

.a965_header_hammenu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.a965_hero {
  overflow-x: hidden;
  background-color: #F8F2EB;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.a965_hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 60vw;
}
.a965_hero_content img {
  width: 7rem;
}

.a965_festivals1 {
  width: 100%;
  background-image: url("../images/home/festivals.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}
.a965_festivals1 div {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 33rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.a965_festivals1 a {
  font-size: 21px;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
}
@media (width >= 60rem) {
  .a965_festivals1 {
    height: 100vh;
  }
}

.a965_festivals2 {
  width: 100%;
  background-image: url("../images/home/Brands Collab.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}
.a965_festivals2 div {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 33rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.a965_festivals2 a {
  font-size: 21px;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
}
@media (width >= 60rem) {
  .a965_festivals2 {
    height: 100vh;
  }
}

.a965_frame1 {
  background-color: #305966;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem;
  /*tablet*/
}
.a965_frame1 img {
  width: 18rem;
}
.a965_frame1 a {
  font-size: 36px;
  font-weight: 400;
  line-height: 58px;
  color: #fff;
}
.a965_frame1_content {
  width: 100%;
}
.a965_frame1_content_left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
}
.a965_frame1_content_right {
  display: flex;
  justify-content: flex-end;
  margin-right: 12.5rem;
}
.a965_frame1_content_text {
  padding-bottom: 3rem;
}
.a965_frame1_content_left_text {
  padding: 2.5rem;
  margin-left: -7.5rem;
}
.a965_frame1_content_right_text {
  padding: 2.5rem;
  margin-left: -7.5rem;
}
.a965_frame1.hover {
  background-color: #ECB572;
  transition: background-color 0.3s ease;
}
.a965_frame1.hover_left_text {
  padding: 60px;
  transition: padding 0.3s ease;
}
.a965_frame1.hover2 {
  background-color: #71335B;
  transition: background-color 0.3s ease;
}
.a965_frame2 {
  background-color: #ECB572;
  display: flex;
  width: 100vw;
  height: 1000px;
  align-items: center;
  justify-content: flex-start;
  padding: 80px;
}
.a965_frame2 img {
  width: 300px;
}
.a965_frame2 a {
  font-size: 36px;
  font-weight: 400;
  line-height: 58px;
  color: #fff;
}
.a965_frame2_content {
  padding-top: 80px;
  width: 100%;
}
.a965_frame2_content_left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.a965_frame2_content_right {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
}
.a965_frame2_content_text {
  padding-bottom: 60px;
}
.a965_frame2_content_left_text {
  padding: 40px;
  margin-left: -120px;
}
.a965_frame2_content_right_text {
  padding: 40px;
  margin-left: -120px;
}
.a965_frame2.hover {
  background-color: #B73E31;
  transition: background-color 0.3s ease;
}
.a965_frame2.hover_left_text {
  padding: 60px;
  transition: padding 0.3s ease;
}
.a965_frame2.hover2 {
  background-color: #000;
  transition: background-color 0.3s ease;
}

.a965_icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
  margin: 0 auto;
}
.a965_icons img {
  width: 280px;
}

.a965_footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #000;
  color: #fff;
  padding: 80px;
  height: 340px;
}
.a965_footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.a965_footer img {
  width: 80px;
  height: 80px;
}
.a965_footer ul, .a965_footer p {
  font-size: 16px;
  line-height: 32px;
}
.a965_footer_column1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.a965_footer_column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.a965_footer a {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

.a965_header {
  background-color: #F8F2EB;
  width: 100%;
}
.a965_header nav {
  align-items: center;
}
.a965_header nav img {
  margin-left: 2.5rem;
}

.a965_single_hero {
  width: 100%;
  padding: 6rem 5rem 5rem 5rem;
  /*tablet*/
}
h1 {
  font-weight: 400;
}

.a965_festivals {
  width: 100%;
  height: 100vh;
  position: relative;
  object-fit: cover;
}
.a965_festivals img {
  max-width: 100%;
  height: auto;
}

.a965_word {
  width: 100%;
  background-color: #F8F2EB;
  padding: 12rem 5rem 12rem 5rem;
}
.a965_word_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.a965_word p {
  width: 48rem;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 400;
}

/*Festival List Style - Blue*/
.a965_list {
  width: 100%;
  height: 100%;
  background-color: #305966;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 6rem;
  padding-bottom: 12rem;
}

.a965_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border-bottom: 0.2rem solid #fff;
  opacity: 0.2;
}
.a965_row a {
  color: #fff;
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 400;
}
.a965_row .popupimg {
  position: absolute;
  display: flex;
  width: 35vh;
  z-index: 2;
  pointer-events: none;
  right: 30vw;
  opacity: 0;
}
.a965_row.hover {
  opacity: 1;
  transition: 0.5s ease;
}
.a965_row.hover .popupimg {
  opacity: 1;
  transition: 0.3s ease;
}

.a965_listcom {
  width: 100%;
  height: 100%;
  background-color: #ECB572;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
}

.a965_listart {
  width: 100%;
  height: 100%;
  background-color: #71335B;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
}

.a965_listbrand {
  width: 100%;
  height: 100%;
  background-color: #3E2C26;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
}

.a965_listsports {
  width: 100%;
  height: 100%;
  background-color: #B73E31;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
}

.a965_rowblack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: 2px solid #000;
  opacity: 0.2;
}
.a965_rowblack a {
  color: #000;
  font-size: 42px;
  line-height: 58px;
  font-weight: 400;
}
.a965_rowblack .popupimg {
  position: absolute;
  display: flex;
  width: 35vh;
  z-index: 2;
  pointer-events: none;
  right: 30vw;
  opacity: 0;
}
.a965_rowblack.hover {
  opacity: 1;
  transition: 0.5s ease;
}

*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

.a965_header_scroll {
  background-color: #F8F2EB;
  padding: 40px 80px 40px 80px;
}
.a965_header_scroll_content {
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  display: flex;
  text-align: right;
}

.a965_ourfam_hero {
  width: 100%;
  display: flex;
  padding: 100px 80px 80px 80px;
}
.a965_ourfam_hero h1 {
  font-size: 52px;
  line-height: 64px;
  font-weight: 400;
}

.a965_aboutus {
  width: 100%;
  display: flex;
  padding: 100px 80px 100px 80px;
  justify-content: space-between;
}
.a965_aboutus h4 {
  font-size: 24px;
  line-height: 40px;
}
.a965_aboutus p {
  width: 640px;
  font-size: 32px;
  line-height: 42px;
}

.a965_2img {
  width: 100%;
  display: flex;
  padding: 120px 80px 120px 80px;
  flex-direction: column;
  justify-content: space-between;
  height: 1000px;
}
.a965_2img p {
  width: 450px;
  font-size: 20px;
  line-height: 32px;
}
.a965_2img_content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.a965_2img div {
  width: 100%;
  justify-content: flex-end;
}
.a965_2img img {
  width: 400px;
  margin-left: 20px;
}

.a965_festlogo {
  position: relative;
  width: 100%;
  height: 720px;
}
.a965_festlogo_bg {
  position: absolute;
  width: 100%;
  height: 720px;
  object-fit: cover;
  z-index: 1;
}
.a965_festlogo_content {
  position: relative;
  z-index: 2;
  height: 720px;
  color: #fff;
  display: flex;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 42px;
  line-height: 58px;
  font-weight: 200px;
}
.a965_festlogo_content a {
  font-size: 21px;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
}

.a965_artist {
  width: 100%;
  display: flex;
  padding: 100px 80px 100px 80px;
  justify-content: space-between;
}
.a965_artist h4 {
  font-size: 24px;
  line-height: 40px;
}
.a965_artist p {
  width: 640px;
  font-size: 32px;
  line-height: 42px;
}

.a965_listred {
  width: 100%;
  height: 100%;
  background-color: #B73E31;
  padding-right: 180px;
  padding-left: 180px;
  padding-top: 100px;
  padding-bottom: 200px;
}
.a965_listred_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: 2px solid #fff;
}
.a965_listred h5 {
  color: #fff;
  font-size: 42px;
  line-height: 58px;
  font-weight: 400;
}

.a965_brand_index {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F8F2EB;
  padding-top: 5vh;
}
.a965_brand_index_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10vh;
}
.a965_brand_index_text {
  padding-left: 3vw;
}
.a965_brand_index h2 {
  font-size: 2rem;
  padding-bottom: 1.8vh;
  line-height: 2.5rem;
  width: 30vw;
  font-weight: 300;
}
.a965_brand_index img {
  width: 20vw;
}
.a965_brand_index button {
  background-color: #000;
  padding: 1rem 3rem 1rem 3rem;
  color: #fff;
}

.a965_load {
  padding-top: 4vh;
  padding-bottom: 10vh;
}
.a965_load a {
  text-decoration: underline;
  font-size: 1.3rem;
  font-weight: 300;
}

*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

.a965_gallery_top {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}
.a965_gallery_top img {
  width: 20vw;
  padding: 0.8vw;
}

.a965_gallery_bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 20vh;
}
.a965_gallery_bottom img {
  width: 20vw;
  padding: 0.8vw;
}

.a965_2img h2 {
  font-size: 42px;
  padding-bottom: 2vh;
}

.a965_news {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5rem;
}
.a965_news_list {
  display: flex;
  padding: 5rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.a965_news_list img {
  width: 15vw;
}

/*# sourceMappingURL=style.css.map */
